page-about {
    .searchbar-md .searchbar-input {
        font-weight: 400;
        line-height: 2.5rem;
        color:rgb(94, 77, 77);
        background-color: #fff;
        margin-top: 5px;
    }
    ion-content{
        background-color:rgb(246,246,246)!important;
        .title{
            background-color:rgb(255, 255, 255)!important;
            height: 40px;
            width: 95%;
            margin: 5px auto;
            i{
               margin-left: 15px;  
               line-height: 40px;
            }
        }
        .zhuan{
            background-color:rgb(255, 255, 255);
            height: 38px;
            width: 95%;
            margin-top: 7px;
            margin-left: 2.5%;
            i{
                margin-left: 15px;  
               line-height: 40px;
               font-size: 20px;
            }
            
        }
        .goods1{
            padding: 0 ;     
            background-color:hsl(0, 0%, 100%) !important;
            width: 95%;
            height: 167px;
            margin: auto;
            // img{
            //     width: 100%;
            //     height: 90px;
            // }
            li{
                position: relative;
                //width: 22%;
                float: left;
                margin: 1px 0 1px 1%;
                // p{
                //     position: absolute;
                //     width: 100%;
                //     bottom:4px;
                //     font-size: 18px;
                //     margin: 0;
                //     color: #fff;
                //     height: 90px;
                //     line-height: 90px;
                //     text-align: center;
                //     background-color:rgba(0, 0, 0, 0.363);
                // }
            }
            .first{
                width: 100%;
                height:70px;
               // border: 1px solid red;
              
                li{
                    width: 32%;
                    p{
                        //position: absolute;
                        width: 100%;
                        //bottom:4px;
                        font-size: 14px;
                        margin: 0;
                        color: #fff;
                        height: 70px;
                        line-height: 70px;
                        text-align: center;
                        background-color:rgba(0, 0, 0, 0.507);
                    }
                }
            }
            .second{
                width: 48%;
                height: 90px;
               // border: 1px solid red;
                float: left;
                margin-left: 2px;
                margin-top: 6px;
                li{
                    width: 48%;
                    height: 44px;
                    // img{
                    //     height: 50px;
                    //     width: 100%;
                    // }
                    p{
                        position: absolute;
                        width: 100%;
                        bottom:4px;
                        font-size: 14px;
                        margin: 0;
                        color: #fff;
                        height: 45px;
                        line-height: 45px;
                        text-align: center;
                        background-color:rgba(0, 0, 0, 0.507);
                    }
                }
            }
            .third{
                width: 50%;
                height: 90px;
                //border: 1px solid red;
                float: left;
                li{
                    width: 100%;
                    p{ 
                        //border: 1px solid rgb(0, 183, 255);
                        //position: absolute;
                        width: 100%;
                        bottom:4px;
                        font-size: 14px;
                        //margin: 0;
                        color: #fff;
                        height: 90px;
                        line-height: 90px;
                        text-align: center;
                        background-color:rgba(0, 0, 0, 0.507);
                        margin-top: 2px;
                    }
                }
            }
        }
        .goods2{
            padding: 0 ;
            margin: 0px;
            img{
                width: 96%;
                height: 150px;
                margin-left: 2%;
                margin-top: 2%;
            }
            li{
                background-color:hsl(0, 0%, 100%) !important;
                position: relative;
                width: 94%;
                float: left;
                margin: 7px 0 2px 3%;
                height: 205px;
                p{
                    // position: absolute;
                    width: 100%;
                    bottom:4px;
                    font-size: 15px;
                    margin-left: 2%;
                    color: rgb(94, 77, 77);
                    height: 30px;
                    line-height: 15px;
                  
                   
                }
            }
        } 
    }
    
}
