page-changepasswordnew {
    .toolbar-title-md {
        margin-left: -25px;
    }
    input{
        border: 0px;
    }
    .scroll-content {
        background-color:/*#ece5da*/rgb(246,246,246)!important;
    }
    .npwd{
        position: relative;
        height: 150px;
        border-bottom: 2px solid #AAAAAA;
        .new1{
            float: left;
            position: absolute;
            left: 5%;
            bottom: 13%;
        }
        .inp1{
            float:right;
            position: absolute;
            left: 40%;
            bottom: 13%;
            background-color: rgba($color: #D9BA8A, $alpha: 0)
        }
    }
    .surenpwd{
        position: relative;
        height: 50px;
        border-bottom: 2px solid #AAAAAA;
        .new2{
            float: left;
            position: absolute;
            left: 5%;
            bottom: 30%;
        }
        .inp2{
            float:right;
            position: absolute;
            left: 40%;
            bottom: 30%;
            background-color: rgba($color: #D9BA8A, $alpha: 0)
        }
        .get{
            position: absolute;
            width: 114px;
            height: 34px;
            font-size: 14px;
            background-color:/*rgba(217, 186, 138, 0.5)*/rgb(250,252,244);
            display: block;
            border-radius: 5px;
            margin: 2%  65%;
        }
    }
    .next{
        width: 200px;
        height: 50px;
        font-size: 20px;
        background-color:  /*rgba(217, 186, 138, 0.5)*/rgb(250,252,244);
        display: block;
        border: 1px solid black;
        border-radius: 5px;
        margin: 10% auto;
    }
}
