page-changepasswordnew {
    input{
        border: 0px;
    }
    .scroll-content {
        background-color: #D9BA8A;
    }
    .npwd{
        position: relative;
        height: 150px;
        border-bottom: 2px solid #AAAAAA;
        .new1{
            float: left;
            position: absolute;
            left: 5%;
            bottom: 13%;
        }
        .inp1{
            float:right;
            position: absolute;
            left: 40%;
            bottom: 13%;
            background-color: rgba($color: #D9BA8A, $alpha: 0)
        }
    }
    .surenpwd{
        position: relative;
        height: 50px;
        border-bottom: 2px solid #AAAAAA;
        .new2{
            float: left;
            position: absolute;
            left: 5%;
            bottom: 30%;
        }
        .inp2{
            float:right;
            position: absolute;
            left: 40%;
            bottom: 30%;
            background-color: rgba($color: #D9BA8A, $alpha: 0)
        }
        .get{
            position: absolute;
            width: 114px;
            height: 34px;
            font-size: 14px;
            color: #ECE5DA;
            background-color: #42413F;
            display: block;
            border-radius: 5px;
            margin: 2%  65%;
        }
    }
    .next{
        width: 226px;
        height: 60px;
        font-size: 20px;
        color: #ECE5DA;
        background-color: #42413F;
        display: block;
        border-radius: 5px;
        margin: 10% auto;
    }
}
