page-collect {
    .toolbar-title-md {
        margin-left: -25px;
    }
    ion-content{
        background-color:#ffffff!important;
        .wenji{
            //border:2px solid rgb(185, 184, 184);
            width: 38%;
            height: 100px;
            float: left;
            margin-left: 8%;
            margin-top: 4%;
            background-color: rgba(201, 198, 198, 0.801);
            box-shadow:1px 1px 5px #cec0a9;
            border-radius: 8%;
            p{
                margin: auto;
                text-align: center;
                margin-top: 38px;
            }
        }
    }
    // ion-footer{
      
    //     width: 100%;
        
    //     p{width: 30%;
    //         line-height: 25px;
    //         box-shadow:1px 1px 5px #929292;
    //         text-align: center;
    //         margin-left: 35%;
    //     }
    // }
}
