page-changepassword {
    position: relative;
    input{
        border: 0px;
    }
    .scroll-content {
        background-color: #D9BA8A;
    }
    
    .shuru{
        position: relative;
        height: 150px;
        border-bottom: 2px solid #AAAAAA;
        .tit{
            float: left;
            position: absolute;
            left: 5%;
            bottom: 13%;
        }
        .inp{
            float:right;
            position: absolute;
            left: 35%;
            bottom: 13%;
            background-color: rgba($color: #D9BA8A, $alpha: 0)
        }
    }
    .nextone{
        width: 226px;
        height: 60px;
        font-size: 20px;
        color: #ECE5DA;
        background-color: #42413F;
        display: block;
        border-radius: 5px;
        margin: 10% auto;
    }
}
