page-changepassword {
    .toolbar-title-md {
        margin-left: -25px;
    }
    position: relative;
    input{
        border: 0px;
    }
    .scroll-content {
        background-color:/*#ece5da*/rgb(246,246,246)!important;
    }
    
    .shuru{
        position: relative;
        height: 150px;
        border-bottom: 2px solid #AAAAAA;
        .tit{
            float: left;
            position: absolute;
            left: 5%;
            bottom: 13%;
        }
        .inp{
            float:right;
            position: absolute;
            left: 35%;
            bottom: 13%;
            background-color: rgba($color: #D9BA8A, $alpha: 0)
        }
    }
    .nextone{
        width: 200px;
        height: 50px;
        font-size: 20px;
        background-color:/*rgba(217, 186, 138, 0.5)*/rgb(250, 252, 244)!important;
        display: block;
        border-radius: 5px;
        margin: 10% auto;
        border: 1px solid black;
    }
}
