page-sign {
    .toolbar-title-md {
        margin-left: -25px;
    }
    ion-content{
        background-color:/*#ece5da*/rgb(246,246,246)!important;
        #text{
            width: 90%;
            height: 20%;
            display: block;
            margin: auto;
            background-color:/*rgba(217, 186, 138, 0.8)*/white;
            border-radius: 5px;
        }
        input{
            text-align: center;
            display: block;
            margin: auto;
            line-height: 40px;
            width: 90%;
            height: 40px;
            font-size:20px;
            border-radius: 5px;
            background-color:/*rgba(217, 186, 138, 0.5)*/rgb(250, 245, 245);
        }
    }
}
