page-otherathology {
    ion-title {
        float: left;
        padding-left: 24%;
        padding-top: 4px;
        width: 200px;
    }
    div.toolbar-title.toolbar-title-md{
        width: 100px;
        text-align: center;
    }
    ion-icon{
        float:right;
        font-size: 30px;
        float: right;
        padding-right: 10px;
    }
    .ion-md-add:before{
        color: #42413f;
    }
    ion-content {
        background-color: /*#ece5da*/rgb(246,246,246) !important;

        ul {
        margin: 0 !important;
        padding: 0 !important;

        li {
            width: 95%;
            height: 65px;
            margin: 0 auto;
            margin-top: 3%;
            padding-left: 5%;
            box-shadow: 1px 1px 2px #cec2ae;

            .imgs {
            width: 20%;
            height: 70%;
            float: left;
            margin-top: 3%;
            }

            .li_content_date {
            font-size: 11px;
            color: #aaaaaa;
            margin-left: 10% !important;
            float: right;
            margin-top: 3% !important;
            }

            .li_content {

            margin-top: 4%;
            margin-right: 5% !important;
            float: right;
            width: 70%;

            .li_content_p {
                color: #424242;
                font-size: 12px;
                height: 2.5rem;
            }

            }

            .licontent {
            margin-top: 4%;
            margin-right: 5% !important;
            float: right;
            width: 95%;

            .li_content_p {
                height: 2rem;
                width: 95%;
                color: #424242;
                font-size: 12px;
            }
        }
      }
    }
  }
}
