page-pphoto {
    ion-content{

        background-color: #e4e2e2!important;
        .title{
            // float: right;
            margin-left: 35%;
            font-size: 18px;
            color: #42413F;
        }
        .div1{
            margin-top: 10px;
            background-color: rgb(255, 255, 255);
            height: 180px;
            border-radius: 6px;
        }
        .addtext{
            font-size: 16px;
            margin-top: 5px;
            height: 100px;
            width: 100%;
            border:0px solid;
            position: relative;
        }
        .photo{
            height: 80px;
            width: 91%;
            border-top: 1px dashed #888888;
            position: absolute;
            margin-top: 0px;
            #showImg {
                // display: none;
                width: 60px;
                height: 60px;
                margin: 10px;
            }
        }
        .cercle{
            height: 60px;
            width: 60px;
            line-height: 60px;
            float: right;
            margin-right: 10px;
            margin-top: 10px;
            
            form {
                display: none;
            }
        }

        .icon_family{
            margin-top: 15px;
            float: left;
            margin-left: 5px;
        }
        .icon_emoji{
            margin-top: 15px;
            float: left;
            margin-left: 12px;
        }
        .wordlimit{
            color: #42413F;
            font-size: 14px;
            margin-top: 15px;
            float: left;
            margin-left: 15px;
        }
       .isoriginal{                     
           margin-top: 50px; 
           
           font-size: 14px;
        input{
            margin-top: 10px;
            margin-left: 5px;
            //background-color:rgb(58, 12, 12)!important;
        }
       }
        // ul{
        //     li{
               
        //       margin: 0;
        //       padding: 0;
        //         width: 100%;
        //         height: 40px;
        //         //margin-top: 100px;
        //         border-radius: 6px;
        //         background-color:rgb(255, 255, 255)!important;
        //        // float: left;
        //      p{
        //         margin-left: 30px;
        //         margin-top: 5px;
        //             // float: left;
        //          } 
        //       ion-checkbox{
               
        //             // float: left;
        //          }
                
                
        //     }
        //     .li1{
        //         margin-top: 80px;
        //     }
        // }
        // ion-list{
        //     width: 100%;
        //     margin-top: 80px!important;
           
        // }

        .button-md {
            width: 50%;
            margin-top: 20px;
            margin-left: 28%;
            background-color:rgb(255, 255, 255)!important;
            color: #42413F;
            
        }
        
    }

}