<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      消息
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ul>
    <li *ngFor="let data of items;let i = index">
      <div class="box" *ngIf="data.type !== '关注'">
        <div class="head">
          <div class="userInfo">
            <img src="{{data.avatar}}" (click)="goother(i)" alt="">
            <div class="info">
              <div class="name" (click)="goother(i)">{{data.username}}</div>
              <div class="date">{{data.messagedate.substr(5,5)}} {{data.messagedate.substr(11,5)}}</div>
            </div>
          </div>
          <p *ngIf="data.type == '回复'" (click)="comment(i)">回复</p>
        </div>
        <div *ngIf="data.type == '回复'" class="content" (click)="gotocomment(i)">{{data.ccontent}}</div>
        <div *ngIf="data.type == '点赞'" class="zan">赞了你</div>
        <div class="note" (click)="gotodetail(i)">
          <img src="{{data.noteimg}}" *ngIf="data.noteimg" alt="" (click)="goother()">
          <div class="notecontent" ngClass="{{data.noteimg?'':note_content}}">
            <p><span (click)="goother()">{{username}}</span>:{{data.notecontent.substr(0,10)}}...</p>
          </div>
        </div>
      </div>
      <div class="container" *ngIf="data.type == '关注'">
        <div class="avatar">
          <img src="{{data.avatar}}" alt="" (click)="goother(i)">
        </div>
        <div style="height: 35px;line-height: 35px;">
          <span style="color: blue;padding: 10px;" (click)="goother(i)">{{data.username}}</span>关注了你
        </div>
        <div class="date">{{data.messagedate.substr(5,5)}} {{data.messagedate.substr(11,5)}}</div>
      </div>

    </li>
  </ul>


</ion-content>
    <!-- 发表评论 -->
    <ion-footer *ngIf="isComment">
      <input type="text" [(ngModel)]="content" id="text" placeholder="写评论...">
      <input type="submit" value="发送" id="send" (click)="submit()" />
    </ion-footer>
