page-contact {
    ion-title{
        text-align: center;
    }
    .navList{
        padding-left: 0!important;
        margin: 0;
        height: 44px;
        line-height: 44px;
        background-color: #ece5da !important;
        .first{
            border-bottom:2px solid #ffdb2c;
        }
        li{
            height: 44px;
            text-align: center;
            float: left;
            width: 50%;
        }
    }
    ion-content{
        background-color: #ece5da !important;
        .repeat {
            border-bottom:0.1px solid gray;
            background-color: rgba(239, 236, 198,0.6)!important;
            ul{
                padding: 0;
                margin:0;
                width: 100%;
                height:54px;
                .head{
                    width: 40px;
                    height:40px;
                    border-radius:100%;
                    overflow: hidden;
                    float: left;
                    margin-left: 15px;
                    margin-top: 10px;
                }
                .name{
                    display: inline-block;
                    margin-top: 15px;
                    margin-left: 15px;
                }
                .date{
                    margin-top: 1px;
                    margin-left: 70px;
                }
                .btn{
                    width: 50px;
                    height: 30px;
                    float: right;
                    margin-right: 20px;
                    margin-top: -35px;
                    button{
                        width: 50px;
                        height: 30px;
                        border:1px solid  #42413f;
                        border-radius: 10%;
                        background-color: #ece5da;
                    }
                }
                .btn1{
                    width: 70px;
                    height: 30px;
                    float: right;
                    margin-right: 20px;
                    margin-top: -35px;
                    a {
                        color: #000000 !important;
                        text-decoration: none;
                    }
                }
            }
            p {
                text-indent: 15px;
            }
            .content {
                margin: 10px auto;
                width: 90%;
                height: 60px;
                background-color: #f8b840 !important;
                border: none;
                img {
                    height: 60px;
                }
                p {
                    display: block;
                    float: right;
                    margin-right: 35px;
                }
            }
        }
        .follow {
            width: 100%;
            height: 60px;
            border-bottom:0.1px solid gray;
            background-color: rgba(239, 236, 198,0.6)!important;
            .head{
                width: 40px;
                height:40px;
                border-radius:100%;
                overflow: hidden;
                float: left;
                margin-left: 15px;
                margin-top: 10px;
                img {
                    height: 40px;
                }
            }
            .cont {
                margin-left: 10px;
                margin-top: 8px;
                width: 70%;
                float: left;
            }
        }
    }
}
