page-publish {

    ion-content{

        background-color: #ECE5DA!important;

    .close{
        font-size: 50px;
        display: block;
        text-align: center;

    }
    .words{
        color: #42413F!important;
        background-color: rgba(217, 186, 138, 0.5);
        border-radius: 50%;
        height: 100px;
        width: 100px;
        display: block;
        margin: auto;
        margin-top: 30px;
        font-size: 30px;
    }
    
    .photo{
        color:#42413F!important;
        background-color: rgba(217, 186, 138, 0.5);
        border-radius: 50%;
        height: 100px;
        width: 100px;
        display: block;
        margin: auto;
        margin-top: 30px;
        font-size: 30px;
        }
    }
}
