page-head {
    ion-header{
        border-bottom:0.2px solid;
    }
    .toolbar-title-md {
        margin-left: -20px;
    }
    ion-content{
        background-color:/*#ece5da*/rgb(246,246,246)!important;
        .head{
            width: 102px;
            height:102px;
            border-radius:100%;
            border: 1px solid ;
            overflow: hidden;
            margin:40px auto;
        }
        form {
            display: none;
        }
    }
}
