page-problem {
    .toolbar-title-md {
        margin-left: -25px;
    }
    ion-content{
        background-color:/*#ece5da*/rgb(246,246,246)!important;
        #text{
            width: 90%;
            height: 20%;
            display: block;
            margin: auto;
            border: 0;
            background-color:#fff;
            border-radius: 5px;
        }
        input{
            margin-top: 30%!important;
            display: block;
            margin: auto;
            width: 60%;
            height: 40px;
            font-size: 16px;
            text-shadow: 1px 1px 5px #d9ba8a;
            font-family: '宋体';
        }
    }
}
