page-pmusic {
    ion-content{

        background-color: #ECE5DA!important;
        .title{
            // float: right;
            margin-left: 35%;
            font-size: 18px;
            color: #42413F;
        }
        .addtext{
            font-size: 16px;
            margin-top: 25px;
            height: 190px;
            width: 100%;
            background-color: rgba(217, 186, 138, 0.5);
            box-shadow: 2px 2px 5px #888888;
            border:0px solid;
            border-radius: 6px;
            position: relative;
        }

        .photo{
            height: 80px;
            width:90%;
            border-top: 1px dashed #888888;
            position: absolute;
            margin-top: -80px;
            
        }
        .cercle{
            height: 60px;
            width: 60px;
            line-height: 60px;
            margin: auto;
            margin-top: 10px;
        }

        .icon_family{
            color: #42413F;
            margin-top: 10px;
            float: left;
            margin-left: 5px;
        }
        .icon_emoji{
            color: #42413F;
            margin-top: 10px;
            float: left;
            margin-left: 12px;
        }
        .wordlimit{
            color: #42413F;
            font-size: 14px;
            margin-top: 15px;
            float: left;
            margin-left: 15px;
        }

        ion-list{
            width: 100%;
            margin-top: 80px!important;
            ion-item{
                width: 100%;
                height: 20px;
                border-radius: 6px;
                background-color:#ECE5DA!important;
            }
        }

        .button-md {
            width: 50%;
            margin-top: 10px;
            margin-left: 28%;
            .button-inner{
                text-shadow: 1px 2px 5px black;
            }
        }
        
    }


}
