page-pmusic {
    ion-content{

        background-color: #e4e2e2!important;
        .title{
            // float: right;
            margin-left: 35%;
            font-size: 18px;
            color: #42413F;
        }
        .div1{
            margin-top: 10px;
            background-color: rgb(255, 255, 255);
            height: 180px;
            border-radius: 6px;
        }
        .addtext{
            font-size: 16px;
            margin-top: 5px;
            height: 100px;
            border:0px solid;
            width: 100%;
            position: relative;
        }

        .photo{
            height: 80px;
            width:90%;
            border-top: 1px dashed #888888;
            position: absolute;
            margin-top: 0px;
            #showImg {
                width: 60px;
                height: 60px;
                margin: 10px;
            }
            #showAudio {
                position: absolute;
                margin: 10px;
                top: 0px;
                right: 5px;
                width: 80px;
            }
        }
        .cercle{
            height: 60px;
            width: 60px;
            line-height: 60px;
            margin: auto;
            margin-top: 10px;
            ion-fab {
                // position: absolute;
                top: 10px;
            }
            form {
                display: none;
            }
        }

        .icon_family{
            color: #42413F;
            margin-top: 15px;
            float: left;
            margin-left: 5px;
        }
        .icon_emoji{
            color: #42413F;
            margin-top: 15px;
            float: left;
            margin-left: 12px;
        }
        .wordlimit{
            color: #42413F;
            font-size: 14px;
            margin-top: 15px;
            float: left;
            margin-left: 15px;
        }

        .isoriginal{                     
            margin-top: 50px; 
            
            font-size: 14px;
         input{
             margin-top: 10px;
             margin-left: 5px;
             //background-color:rgb(58, 12, 12)!important;
         }
        }
      
         .button-md {
             width: 50%;
             margin-top: 20px;
             margin-left: 28%;
             background-color:rgb(255, 255, 255)!important;
             color: #42413F;
             
         }
         
    }


}
