page-detail {
  .container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }
  .player{
    position: absolute;
    top: 19%;
    width: 10rem;
    height: 10rem;
  }
  .displayer{
    display: none;
  }
  .imgsplay{
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
  }
  .rotation{
    -webkit-transform: rotate(360deg);
    animation: rotation 12s linear infinite;
    -moz-animation: rotation 12s linear infinite;
    -webkit-animation: rotation 12s linear infinite;
    -o-animation: rotation 12s linear infinite;
  }
  
  @-webkit-keyframes rotation{
    from {
      -webkit-transform: rotate(0deg);
    }
  
    to{
      -webkit-transform: rotate(360deg);
    }
  }
  .slide-zoom {
    text-align: center;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }

  .header {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f5f5f5;

    .wrap {
      height: 30px;
      display: inline-flex;
      flex-direction: row;

      .index-container {
        display: flex;
        flex-direction: row;
        align-items: baseline;

        .plain {
          font-size: 18px;
        }

        .index {
          font-size: 30px;
          line-height: 30px;
          font-weight: 700;
          margin-right: 7px;
        }

        .line {
          height: 22px;
          margin-right: 7px;
          border-left: 1px solid black;
        }

      }

      .date-container {
        display: flex;
        flex-direction: column;
        margin-top: 2px;

        .month {
          font-size: 12px;
          line-height: 12px;
        }

        .year {
          font-size: 10px;
          text-align: left;
        }
      }

    }

    .like {
      display: inline-flex;
      flex-direction: row;
      padding: 6px;
      width: 45px;
      margin-right: 5px;

      img {
        width: 16px;
        height: 16px;
      }

      div {
        font-size: 12px;
        line-height: 12px;
        color: #bbbbbb;
        position: relative;
        bottom: 5px;
        left: 3px;
      }
    }
  }

  .nav {
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    .image {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      margin-left: 1rem;
    }

    p {
      margin: 0;
      height: 2rem;
      line-height: 2rem;
      font-size: 13px;
    }

    .pub_name {
      padding: 0 5px 0 10px;
      font-weight: 600;
    }

    .native {
      padding-left: 0.5rem;
      color: rgb(13, 62, 95);
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    .imgs {
      height: 20rem;
      width: 100%;
    }

    .note_content {
      width: 250px;
      margin: 0 auto;
      margin-top: 2rem;
      height: 32rem;
      font-size: 12px;

      p {
        line-height: 22px;
        padding: 0;
        margin: 0;
        text-align: left;
      }

      .avater {
        margin-top: 25px;
        text-align: center;
        color: #bbbbbb;
      }
    }

    .note-content {
      width: 250px;
      margin: 0 auto;
      margin-top: 2rem;
      height: 52rem;
      font-size: 12px;

      p {
        line-height: 22px;
        padding: 0;
        margin: 0;
        text-align: left;
      }

      .avater {
        margin-top: 25px;
        text-align: center;
        color: #bbbbbb;
      }
    }
  }

  .foot {
    height: 3rem;
    border-top: 1px solid #bbbbbb;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    span {
      position: absolute;
      top:-2rem;
      right: 10px;
      font-size: 12px;
      color: #bbbbbb;
    }
    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 1rem;

      img {
        width: 2rem;
        height: 2rem;
      }

      p {
        margin: 0;
        color: #bbbbbb;
        font-size: 12px;
        line-height: 2rem;
        padding: 2px 0 0 2px;
      }
    }
  }
}
