page-savewenji {
  .toolbar-title-md {
    margin-left: -25px;
  }

  ion-content {
    background-color: rgb(246, 246, 246) !important;

    ion-list {
      margin: 20px auto;
      padding: 0;
      width: 100%;

      ion-item {
        line-height: 90px;
        height: 90px;
        background-image: url(../../assets/imgs/yimg1.jpg);
        background-size: 100%;
      }

      .item-md {
        width: 45%;
        margin: 5px;
        float: left;
      }

      .label-md {
        text-align: center
      }
    }
  }


}
