page-fan {
    .toolbar-title-md {
        margin-left: -25px;
    }
    ion-content{
        background-color:/*#ece5da*/rgb(246,246,246)!important;
        ul{
            padding: 0;
            margin:0;
            width: 100%;
            height:100px;
            border-bottom:0.1px solid gray;
            background-color: /*rgba(239, 236, 198,0.6)*/white!important;
            .head{
                width: 80px;
                height:80px;
                border-radius:100%;
                overflow: hidden;
                float: left;
                margin-left: 15px;
                margin-top: 10px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .name{
                display: inline-block;
                margin-top: 17px;
                margin-left: 15px;
            }
            .word{
                margin-top: 15px;
                margin-left: 110px!important;
            }
            .btn{
                width: 100px;
                height: 30px;
                float: right;
                margin-right: 20px;
                margin-top: -35px;
                button{
                    width: 100%;
                    height: 30px;
                    border:1px solid  #42413f;
                    border-radius: 5px;
                    background-color: /*#ece5da*/rgb(250, 245, 245);
                }
            }
            .btn1{
                width: 90px;
                height: 30px;
                float: right;
                margin-right: 20px;
                margin-top: -35px;
                button{
                    width: 90px;
                    height: 30px;
                    border:1px solid  #42413f;
                    border-radius: 10%;
                    background-color: /*#ece5da*/rgb(250, 245, 245);
                }
            }
        }
    }
}
