page-respond {
        ion-content{
            background-color:rgba(100, 95, 95, 0.2)!important;
        }
        ion-footer{
            width: 100%;
            height: 96px;
            background-color:#eeeeee!important;
            ul{
                margin: 0;
                padding: 0;
                .list{
                    margin: 0;
                    padding: 0;
                    height: 45px;
                    line-height: 40px;
                    text-align: center;
                    background-color: rgba(255, 255, 255,0.9)!important;
                    border-bottom: 0.2px solid gray;
                    border-radius: 2%;
                }
                .list1{
                    background-color: rgba(255, 255, 255,0.9)!important;
                    margin: 0;
                    padding: 0;
                    height: 45px;
                    line-height: 45px;
                    text-align: center;
                    margin-top: 6px;
                    border-radius: 2%;
                }
            }
        } 
}
