page-my {
     ion-content{
        background-color:rgb(246,246,246)!important;
        .iconfont{
            font-style:normal;
             -webkit-text-stroke-width:0px!important;
        }
        .header{
            height: 34%;
            background-image: url(../../assets/imgs/lixiang8.png);
            padding-top: 20px;
            .head{
                width: 102px;
                height:102px;
                border-radius:100%;
                overflow: hidden;
                margin:  auto;
				img{
				width:100%;
				height:100%;
				}
                
            }
        }
        .name{
            margin-top: 5px;
            font-size: 22px;
            font-family: '宋体';
            font-weight: bolder;
        }
        .qm{
            margin-top: -10px;
            font-size: 12px;
            letter-spacing: 2px;
        }
        // .div1{
        //     margin-left: 100px;
        //     i{
        //         margin-left: 15px;
        //         font-size: 16px;
        //     }
        // }
        .funs{
            ul{
                padding: 0%;
                margin: 0%;
                // margin-top: 5px;
                width: 100%;
                height: 30px;
                li{
                    background-color: white;
                    float: left;
                    width: 50%;
                    height: 30px;
                    text-align: center;
                    padding-top:6px;
                    // border: 1px solid black;
                    // border-radius: 5px;                
                    // margin-left:3.3%;
                    // margin-top: 5%;
                    // background-color: rgb(246, 247, 234);
                }
            }
        }
        .Options{
            ul{
                padding: 0%;
                margin: 0%;
                margin-top: 3%;
                width: 100%;
                height: 80px;
                li{
                    position: relative;
                    background-color: white;
                    float: left;
                    width: 100%;
                    height: 39px;
                    margin-top: 3px;
                    // text-align: center;
                    padding-top: 3%;
                    padding-left: 4%;
                }
                p{
                    position: absolute;
                    right: 8%;
                    top: -15px;
                    float: left;
                    font-size: 20px;
                }
            }
        }
    }
}
