page-my {
     ion-content{
        background-color:white!important;
        .header{
            height: 38%;
            background-image: url(../../assets/imgs/lixiang8.png);

            .head{
                width: 102px;
                height:102px;
                border-radius:100%;
                overflow: hidden;
                margin:10px auto;
            }
            #setup{
                font-size: 25px;
                margin-left: 92%;
            }
        }
        .name{
            margin-top: -15px;
            font-size: 22px;
            font-family: '宋体';
            font-weight: bolder;
        }
        .qm{
            margin-top: -10px;
            font-size: 12px;
            letter-spacing: 2px;
        }
        .div1{
            margin-left: 100px;
            i{
                margin-left: 15px;
                font-size: 16px;
            }
        }

        // ul{
        //     padding: 0%;
        //     margin: 0%;
        //     margin-top: 5px;
        //     width: 100%;
        //     height: 20px;
        //     li{
        //         float: left;
        //         width: 33%;
        //         height: 20px;
        //         text-align: center;
        //     }
        // }
    }

}
