page-tongxin {
    ion-header{
        ion-navbar{
            .toolbar-title-md {
                padding: 0 12px;
                font-size: 2rem;
                font-weight: 500;
                margin-left: -28px;
            }
        }
        
    }
    ion-slides{
        width: 100%;
        height: 180px;
    }
    ion-content{
        background-color:#ece5da!important;; 
       
    }
    p{
        position: absolute;
        width: 100%;
        // bottom:4px;
        font-size: 18px;
        color: #fff;
        height: 180px;
        margin-top: -180px;
        line-height: 30px;
        text-align: center;
        z-index: 99;
        padding-top: 120px;
        background-color:rgba(0, 0, 0, 0.205);
    }
}
