page-my-songs {
    ion-title{
        padding-left: 24%;
    }
    ion-content{
        background-color:rgb(246,246,246)!important;
        .songs{
            width: 100%;
            height: auto;
            ul{
                padding: 0%;
                margin: 0%;
                width: 100%;
                height: auto;
                li{
                    width: 100%;
                    height: 40px;
                    border-top: 1px solid gray;
                    border-bottom:1px solid gray;
                    background-color: white;
                    margin-top: 2%;
                    padding-top: 10px;
                    padding-left: 5%;
                    ion-icon{
                        float: right;
                        padding-right: 5%;
                    }
                }
            }
        }
    }
}
