page-changepasswordselect {
    .scroll-content {
        background-color: #D9BA8A;
    }
    .sub{
        width: 226px;
        height: 60px;
        font-size: 20px;
        color: #ECE5DA;
        background-color: #42413F;
        display: block;
        border-radius: 5px;
        margin: 10% auto;
    }
}
