page-changepasswordselect {
    .toolbar-title-md {
        margin-left: -25px;
    }
    .scroll-content {
        background-color:#ece5da!important;
    }
    .sub{
        width: 200px;
        height: 50px;
        font-size: 18px;
        background-color: rgba(217, 186, 138, 0.5);
        display: block;
        border-radius: 5px;
        margin: 10% auto;
    }
}
