page-signupmobile {
    .toolbar-title-md {
        margin-left: -25px;
    }
    input{
        border: 0px;
    }
    .scroll-content {
        background-color:#ece5da!important;
    }
    .shoujihao{
        position: relative;
        height: 150px;
        border-bottom: 2px solid #AAAAAA;
        .mobile{
            float: left;
            position: absolute;
            left: 5%;
            bottom: 13%;
        }
        .inp1{
            float:right;
            position: absolute;
            left: 35%;
            bottom: 13%;
            background-color: rgba($color: #D9BA8A, $alpha: 0)
        }
    }
    .yanzhengma{
        position: relative;
        height: 50px;
        border-bottom: 2px solid #AAAAAA;
        .ident{
            float: left;
            position: absolute;
            left: 5%;
            bottom: 30%;
        }
        .inp2{
            float:right;
            position: absolute;
            left: 35%;
            bottom: 30%;
            background-color: rgba($color: #D9BA8A, $alpha: 0)
        }
        .get{
            position: absolute;
            width: 80px;
            height: 30px;
            font-size: 13px;
            color:black;
            background-color: rgba(217, 186, 138, 0.5);
            display: block;
            border-radius: 5px;
            margin: 2%  72%;
        }
    }
    .nextone{
        width: 200px;
        height: 50px;
        font-size: 20px;
        background-color: rgba(217, 186, 138, 0.5);
        display: block;
        border-radius: 5px;
        margin: 10% auto;
    }
}
